<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blinkfox.learn.mybatis.mapper.BlogMapper">

    <resultMap id="blogResult" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="visitCount" column="visit_count"/>
        <result property="insertTime" column="insert_time"/>
        <result property="lastUpdateTime" column="last_update_time"/>
    </resultMap>

    <select id="queryBlogById" parameterType="int" resultMap="blogResult">
        SELECT * FROM t_blog AS b WHERE b.id = #{id}
    </select>

    <select id="queryBlogs" resultType="hashmap">
        SELECT id, title, content, visit_count FROM t_blog
    </select>

</mapper>