<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blinkfox.learn.mybatis.mapper.BlogMapper">

    <select id="queryBlogById" parameterType="int" resultType="hashmap">
        SELECT * FROM t_blog AS b WHERE b.id = #{id}
    </select>

</mapper>